BOT_TOKEN=
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/parkbot
SECRET_KEY=change-me
CARD_ENCRYPTION_KEY=replace-with-generated-fernet-key
ADMIN_HOST=127.0.0.1
ADMIN_PORT=5000
BOT_SUPPORT_CONTACT=@support
BOT_NAME=Prime taxi
DEFAULT_LANGUAGE=ru
